<h1>Books</h1>

 <table>
  <head>
   <p class="p-list">
    <p class="p-list-item">Title</p>
    <p class="p-list-item">Body</p>
    <p class="p-list-item"></p>
  </p>
  </head>
  <body>
  <% @books.each do |f| %>

  <span><%= f.title %></span>
  <span><%= f.body %></span>

  <% end %>

  <%= link_to "Show", new_book_path(@book.id) %>
　<%= link_to "Edit", new_book_path(@book.id) %>
　<%= link_to "Destroy", '/books' %>

  </body>

 </table>


<h2>New book</h2>

<%= form_with model: @book do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>body</h4>
  <%= f.text_area :body %>

  <%= f.submit 'Create Book' %>

<% end %>